.c-about {


    .mainLogo {
        text-align: center;
    }

    .topHalfImg {
        width: 100%;
        aspect-ratio: 1208 / 860;
        overflow: hidden;
        position: relative;
        background-color: #FFFBEF;

        img {
            width: 100%;
            transform: rotate(270deg);
        }

        .main-title {
            position: absolute;
            top: 20%; // 依照你的需求調整
            left: 50%;
            transform: translateX(-50%); // 確保水平絕對置中
            z-index: 10;
            margin: 0;
            white-space: nowrap; // 避免文字換行
        }
    }

    .sub-content {
        position: absolute;
        top: 30%; // 依照你的需求調整
        left: 50%;
        transform: translateX(-50%); // 確保水平絕對置中
        z-index: 10;
        margin: 0;
        white-space: nowrap; // 避免文字換行
    }

    .bottomHalfImg {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: bottom; // 鎖定底部，從上面開始裁切
    }

    .sub-title {
        color: $white;
        text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    }

    .second_section {
        background-color: $white;
        min-height: 968px;

        .mid-sec {
            background-color: #F9E8DB;
            max-width: 90%;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
        }


        .third-sec {
            background-color: #A63E28;
            max-width: 500px;
            border-top-left-radius: 24px;
            border-bottom-left-radius: 24px;
            color: #FFF3EA;

        }

        .img-border {
            border: solid 1px #F2A82D;
            max-width: 504px;
            aspect-ratio: 1/1;
        }



        img {
            object-fit: cover;
            aspect-ratio: 1/1;
            margin-bottom: -80px;
        }
    }

    .third-section {
        background-color: #FBF1CA;

        img {
            width: 100%;
            max-width: 250px;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            object-position: center;

        }


    }

    .fourth-section {
        background-color: #F4F4E8;

        .icon {
            width: 100%;
            max-width: 250px;

        }

    }
}