.c-about {


    .mainLogo {
        text-align: center;
    }

    .bgc-first {
        // background: linear-gradient(180deg, $gray-100 0%, $gray-100 10%, $gray-50 40%, $white 100%);
        background: linear-gradient(to left top, $white 0%, $white 10%, $gray-50 40%, $gray-100 100%);
    }

    .mt-img {
        margin-top: 5vh;
    }

    .bottomHalfImg {
        width: 100%;
        aspect-ratio: 1208 / 525;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            transform: rotate(270deg);
        }

        // width: 100%;
        // // height: 250px;
        // object-fit: cover;
        // overflow: hidden;
        // object-position: bottom; // 鎖定底部，從上面開始裁切
    }


    .topHalfImg {
        width: 100%;
        aspect-ratio: 1208 / 500;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            transform: rotate(270deg);
        }
    }

    .main-title {
        padding-top: 150px;
    }

    .main-content {
        font-size: 28px;

        @media (max-width: 768px) {
            font-size: 20px;
        }

    }

    .sub-title {
        font-weight: 600;
        color: $white;
        text-shadow: 3px 3px 8px $brown-300;
    }

    .second_section {
        background-color: $white;
        min-height: 968px;

        .text-border {
            border-left: solid 3px $primary-300;
        }

        .mid-sec {
            // background-color: $gray-50;
            background: linear-gradient(180deg, $gray-100 0%, $gray-100 10%, $gray-100 40%, $gray-50 100%);
            max-width: 90%;
            border-top-right-radius: 24px;
            border-bottom-right-radius: 24px;
        }


        .third-sec {
            background-color: $gray-400;
            max-width: 500px;
            border-top-left-radius: 24px;
            border-bottom-left-radius: 24px;
            color: #FFF3EA;

        }

        .img-border {
            border: solid 2px $gray-400;
            max-width: 504px;
            aspect-ratio: 1/1;
        }



        img {
            object-fit: cover;
            aspect-ratio: 1/1;
            margin-bottom: -80px;
        }
    }

    .third-section {
        // background-color: #FBF1CA;
        background: #ECF3ED;
        border-top-left-radius: 50% 20%;
        border-top-right-radius: 50% 20%;
        border-bottom-left-radius: 50% 20%;
        border-bottom-right-radius: 50% 20%;

        img {
            width: 100%;
            max-width: 250px;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            object-position: center;

        }


    }

    .fourth-section {
        background-color: $white;


        .icon {
            width: 100%;
            max-width: 250px;

        }

    }



    .fifth-section {
        background: linear-gradient(180deg, $white 0%, $gray-50 10%, $gray-50 40%, $gray-100 100%);



        .fifth-Q-subject {
            font-weight: 700;
            font-size: 28px;
            margin-bottom: 16px;
        }

        .fifth-Q-title {
            font-weight: 500;
            font-size: 20px;

        }

        .fifth-A {
            color: $brown-300;

        }

        .QA {
            cursor: pointer;


        }

        .QA-border {
            padding-bottom: 24px;
            padding-top: 24px;
            border-bottom: solid $gray-200 1.5px;
        }
    }


}