.c-about {
    background-color: #FFFBEF;

    .mainLogo {
        text-align: center;
    }

    .topHalfImg {
        width: 100%;
        aspect-ratio: 1208 / 860;
        overflow: hidden;
        position: relative;


        img {
            width: 100%;
            transform: rotate(270deg);
        }

        .main-title {
            position: absolute;
            top: 20%; // 依照你的需求調整
            left: 50%;
            transform: translateX(-50%); // 確保水平絕對置中
            z-index: 10;
            margin: 0;
            white-space: nowrap; // 避免文字換行
        }
    }

    .sub-content {
        position: absolute;
        top: 30%; // 依照你的需求調整
        left: 50%;
        transform: translateX(-50%); // 確保水平絕對置中
        z-index: 10;
        margin: 0;
        white-space: nowrap; // 避免文字換行
    }

    .bottomHalfImg {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: bottom; // 鎖定底部，從上面開始裁切
    }
}