.article_main{
    color: $gray-500;
    .banner{
        height: 500px;
        background-image: url('https://images.unsplash.com/photo-1467453678174-768ec283a940?q=80&w=2044&auto=format&fit=crop');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

    }
    .bg-cover{
        background-color: #71a36a8a;
    }
    .article-card {
        position: relative;

        padding: 10px;
        border-radius: 16px;
        box-shadow: 3px  3px  5px  #3c5d306d;
        border: 2px solid #b3c5a5;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: translateY(-4px); 
            box-shadow: 0 12px 24px #3c553133; 
            background-color: #eef6e7c7;
        }

    }


    .line-clamp-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical;  
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .nav-filter-btn {
        background: none;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        color: $white;
        padding: 10px 12px;
        transition: all 0.3s ease;
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        font-size: 18px;
        font-weight: 600;
        width: 120px;
        .active {
            border-top: 5px solid #ffffff;
            border-bottom: 5px solid #ffffff;
            border-top: 5px solid #ffffff;

        }
        &:hover {
            border-top: 5px solid #ffffff;
            border-bottom: 5px solid #ffffff;
            opacity: 0.8;
        }
    }


}