.articleDetail__block {
  border-top: 1px solid $gray-600;
  border-bottom: 1px solid $gray-600;
  display: flex;
  align-items: center;
}

.articleDetail__pickUp {
  position: sticky;
  top: 0;
  height: 100vh;
  @media (min-width: 992px) {
    border-left: 1px solid $gray-600;
  }
}
.pickUp-card {
  h6 {
    color: $gray-600;
    &:hover {
      color: $gray-400;
    }
  }
  box-shadow: 0px 4px 16px rgba(77, 113, 53, 0.12);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  &:hover {
    box-shadow: 0px 4px 16px rgba(77, 113, 53, 0.25);
  }
}
.article-description {
  color: $brown-300;
  background-color: $brown-100;
  border-radius: 24px;
  padding: 16px 24px;
  margin-bottom: 12px;
}
.article-content {
  padding: 24px 0;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 24px;
    margin-bottom: 12px;
  }
  p {
    line-height: 1.8;
    margin: 8px 0px;
  }
}
