.articleDetail__block {
  border-top: 1px solid $gray-600;
  border-bottom: 1px solid $gray-600;
  display: flex;
  align-items: center;
}

.articleDetail__header {
}

.articleDetail__pickUp {
  @media (min-width: 992px) {
    border-left: 1px solid $gray-600;
  }
}
.pickUp-card {
  h6 {
    color: $gray-600;
    &:hover {
      color: $gray-400;
    }
  }
  box-shadow: 0px 4px 16px rgba(77, 113, 53, 0.12);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  &:hover {
    box-shadow: 0px 4px 16px rgba(77, 113, 53, 0.25);
  }
}
