.custom-main{
    .custom-bg{
        background-image: url('../image/custom/photo-1543352634-a1c51d9f1fa7.avif');
        width: 100%;
        background-position: center;
    }
    .blur-bg{
        backdrop-filter: blur(10px);
        background-color: #f0f0f096 ;
    }
    .hidden-input {
        appearance: none;       
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 0;
        height: 0;
        margin: 0;
        position: absolute;
        opacity: 0;
    }
    .form-check{
        padding-left: 0;
    }
    .card-active {
        border: 3px solid #279534fe;
        background-color: #eefcf9;
        box-shadow: 1px 2px  8px rgba(54, 54, 54, 0.333);
    }

}