// 基本設定
img {
  max-width: 100%;
  min-width: 0;
  object-fit: cover;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  // outline: 1px solid red;
}

ul {
  padding-left: 0;
}
li {
  list-style: none;
}

// home page
.home__hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.hero__content {
  margin: 80px auto;
  h1 {
    text-shadow: 0 8px 32px rgba(255, 255, 255, 0.4);
    margin-bottom: 32px;
    z-index: 15;
  }
  .decor-section {
    position: absolute;
    z-index: 2;
    opacity: 0.8;
    max-width: 500px;
    @media (max-width: 768px) {
      opacity: 0.4;
    }
  }
  .decor-left {
    width: 60%;
    top: 8%;
    right: 80%;
    @media (max-width: 768px) {
      top: 0%;
      right: 80%;
    }
  }
  .decor-right {
    width: 50%;
    top: 15%;
    left: 85%;
    @media (max-width: 768px) {
      top: 30%;
      right: 80%;
    }
  }

  p {
    margin-bottom: 12px;
  }
}
.homeBtn--primary {
  max-width: 306px;
  width: 270px;
  border-radius: 80px;
  text-align: center;
  padding: 8px 16px;
  cursor: pointer;
  color: #ecf3ed;
  background-color: rgba(7, 78, 48, 0.8);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.222);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  &:hover,
  &:focus {
    background-color: rgba(77, 147, 43, 0.7);
    box-shadow:
      1px 2px 2px 0px rgba(77, 147, 43, 0.3),
      0 8px 32px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.454);
    transition: 0.3s ease-in-out;
  }
}

// 果菜區設定
// 果菜區動畫
@keyframes orbit-float {
  0% {
    transform: rotate(var(--a)) translateX(var(--d)) rotate(calc(var(--a) * -1))
      scale(1);
  }
  50% {
    transform: rotate(calc(var(--a) + 180deg)) translateX(calc(var(--d) + 30px))
      rotate(calc((var(--a) + 180deg) * -1)) scale(1.1);
  }
  100% {
    transform: rotate(calc(var(--a) + 360deg)) translateX(var(--d))
      rotate(calc((var(--a) + 360deg) * -1)) scale(1);
  }
}
@mixin veggie-style($angle, $distance, $delay, $duration: 20s) {
  --a: #{$angle}; // 初始角度
  --d: #{$distance}; // 距離
  @media (max-width: 768px) {
    --d: calc(#{$distance} * 0.6);
  }
  @media (max-width: 480px) {
    --d: calc(#{$distance} * 0.4);
  }
  animation-delay: $delay;
  animation-duration: $duration;
}
.hero__decorations {
  max-width: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  .decor-main {
    margin-top: 32px;
    width: 75%;
    z-index: 2;
  }
  .veggie {
    opacity: 0.8;
    position: absolute;
    width: 6vw;
    min-width: 30px;
    max-width: 60px;
    z-index: 1;
    animation: orbit-float 20s linear infinite;
  }
  // (起始角度/距離/延遲/持續時間)
  .tomato {
    @include veggie-style(-120deg, 330px, -2s);
  }
  .broccoli {
    @include veggie-style(45deg, 320px, -15s, 25s);
  }
  .cabbage {
    @include veggie-style(150deg, 330px, -5s);
  }
  .carrot {
    @include veggie-style(90deg, 320px, -8s, 20s);
  }
  .eggplant {
    @include veggie-style(-45deg, 350px, -10s);
  }
}

.comma {
  // em 相對大小及位置
  font-size: 0.6em;
  position: relative;
  right: 0.2em;
  bottom: -0.4em;
}

// Smart Nutrition
.sub-card {
  width: 80%;
  padding: 20px 24px;
  margin-bottom: 32px;
  @media (max-width: 768px) {
    padding: 12px 16px;
    margin-bottom: 12px;
  }
}

// SIGNATURE BOWLS
.home__signature-section {
  background: linear-gradient(
    180deg,
    rgba(236, 243, 237, 1) 0%,
    rgba(236, 243, 237, 0.5) 100%
  );
  background: $primary-50;
  .visual-area {
    position: relative;
    min-height: 500px;

    .main-bowl-img {
      max-width: 375px;
      width: 60%;
      position: absolute;
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%);
      z-index: 1;
      @media (max-width: 992px) {
        top: 50%;
        left: 50%;
      }
    }

    .ingredient-card {
      width: 150px;
      height: 75px;
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 2;
      background: $white;
      padding: 4px 12px;
      border-radius: 20px;
      opacity: 0.8;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

      &:hover {
        opacity: 0.9;
        box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
      }
      img {
        width: 60px;
        margin-right: 8px;
      }

      &.pos-btm-left {
        // 鮭魚
        img {
          width: 90px;
        }
        bottom: 20%;
        left: 25%;
      }
      &.pos-top-mid {
        // 番茄
        top: 2%;
        left: 50%;
      }
      &.pos-top-mid-left {
        // 南瓜
        top: 25%;
        left: 20%;
      }
      &.pos-top-right {
        // 花椰菜
        top: 30%;
        right: 2%;
      }
      &.pos-btm-right {
        // 小黃瓜
        top: 65%;
        right: 5%;
      }
      @media (max-width: 992px) {
        max-width: 150px;
        &.pos-btm-left {
          // 鮭魚
          img {
            max-width: 90px;
          }
          bottom: 20%;
          left: 10%;
        }
        &.pos-top-mid {
          // 番茄
          top: 5%;
          left: 35%;
        }
        &.pos-top-mid-left {
          // 南瓜
          top: 28%;
          left: 10%;
        }
        &.pos-top-right {
          // 花椰菜
          top: 30%;
          right: 10%;
        }
        &.pos-btm-right {
          // 小黃瓜
          top: 65%;
          right: 15%;
        }
      }
    }

    .content-card {
      position: relative;
      z-index: 50;
    }
  }
}
.home__fixed-card {
  img {
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 16px;
    background-color: #e2e2e4;
  }
}
