// 基本設定
img {
  max-width: 100%;
  min-width: 0;
  object-fit: cover;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  // outline: 1px solid red;
}

ul {
  padding-left: 0;
}
li {
  list-style: none;
}

// hero section
.home__hero-section {
  height: calc(100vh - 108px);
  position: relative;
  margin: 0 auto;
  z-index: 100;
  @media (max-width: 992px) {
    margin-top: 108px;
    height: calc(80vh - 108px);
  }
  @media (max-width: 768px) {
    margin-top: 108px;
    height: calc(70vh - 108px);
  }
}

.home__btn-primary {
  max-width: 306px;
  width: 100%;
  border-radius: 80px;
  padding: 8px 16px;
  cursor: pointer;
  text-align: center;
  color: $primary-50;
  background-color: rgba(7, 78, 48, 0.8);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.22);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus {
    background-color: rgba(77, 147, 43, 0.7);
    box-shadow:
      1px 2px 2px 0px rgba(77, 147, 43, 0.3),
      0 8px 32px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.45);
    transform: translateY(-2px);
  }
}
.comma {
  // em 相對大小及位置
  font-size: 0.6em;
  position: relative;
  right: 0.2em;
  bottom: -0.4em;
}
// 左右碗裝飾
.hero__decor {
  position: relative;
  max-width: 700px;
  min-width: 250px;
  width: 40vw;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  opacity: 0.5;
  z-index: 0;
  transition: all 0.3s ease-in-out;
  @media (max-width: 992px) {
    max-width: 40vw;
  }
  @media (max-width: 576px) {
    max-width: 300px;
    opacity: 0.4;
  }
}
.bowl-shadow {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  background: rgba(77, 147, 43, 0.3);
  border-radius: 50%;
  filter: blur(60px);
  z-index: -1;
  @media (max-width: 992px) {
    opacity: 0.1;
  }
}

// 果菜區設定
// (起始角度/距離/延遲/持續時間)
@mixin veggie-style($angle, $distance, $delay, $duration: 20s) {
  --a: #{$angle}; // 初始角度
  --d: #{$distance}; // 距離
  @media (max-width: 768px) {
    --d: 50vw;
  }

  animation-delay: $delay;
  animation-duration: $duration;
}
.hero__decorations {
  max-width: 50vw;
  min-width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  // @media (max-width: 768px) {
  //   min-width: 300px;
  // }
}
.veggie {
  opacity: 0.8;
  position: absolute;
  width: 6vw;
  min-width: 30px;
  max-width: 60px;
  z-index: 1;
  --d: 26vw;
  @media (max-width: 576px) {
    --d: max(35vw, 160px);
  }
  animation: orbit-float 20s linear infinite;
}
// 果菜區動畫
@keyframes orbit-float {
  0% {
    transform: rotate(var(--a)) translateX(var(--d)) rotate(calc(var(--a) * -1))
      scale(1);
  }
  50% {
    transform: rotate(calc(var(--a) + 180deg)) translateX(calc(var(--d) + 30px))
      rotate(calc((var(--a) + 180deg) * -1)) scale(1.1);
  }
  100% {
    transform: rotate(calc(var(--a) + 360deg)) translateX(var(--d))
      rotate(calc((var(--a) + 360deg) * -1)) scale(1);
  }
}

// Smart Nutrition
// 動畫版本一(載入後用delay)
// @keyframes popIn {
//   0% {
//     opacity: 0;
//     transform: scale(0.8) translateY(20px);
//   }
//   100% {
//     opacity: 1;
//     transform: scale(1) translateY(0);
//   }
// }
// .sub-card {
//   width: 80%;
//   opacity: 0;
//   animation: popIn 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
//   animation-delay: var(--delay);
// }

// 動畫版本二(監聽滑鼠)
.sub-card {
  width: 80%;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
  // delay 一下
  &:nth-child(2) {
    transition-delay: 0.2s;
  }
  &:nth-child(3) {
    transition-delay: 0.4s;
  }
}
.home__btn-link {
  position: relative;
  color: $primary-300;
  text-decoration: none;
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: $primary-200;
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }

  &:hover {
    color: $primary-200;
  }
  &:hover::after {
    width: 100%;
  }
}

.home__nur-section {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
    url(/img/items/bg-decor-1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
// SIGNATURE BOWLS
// 配菜位置(待調整)
@mixin ingredient-pos(
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $m-top: null,
  $m-right: null,
  $m-bottom: null,
  $m-left: null
) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  @media (max-width: 992px) {
    top: $m-top;
    right: $m-right;
    bottom: $m-bottom;
    left: $m-left;
  }
}
.home__signature-section {
  background: linear-gradient(
    180deg,
    rgba(236, 243, 237, 1) 0%,
    rgba(236, 243, 237, 0.5) 100%
  );
  background: $primary-50;
  .visual-area {
    position: relative;
    min-height: 500px;
    .main-bowl-img {
      max-width: 375px;
      width: 60%;
      position: absolute;
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%);
      z-index: 1;
      @media (max-width: 992px) {
        top: 50%;
        left: 50%;
      }
    }
    .ingredient-card {
      width: 150px;
      height: 75px;
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 2;
      background: $white;
      padding: 4px 12px;
      border-radius: 20px;
      opacity: 0.8;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      &:hover {
        opacity: 0.9;
        transform: translateY(-2px);
        box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
      }
      img {
        width: 60px;
        margin-right: 8px;
      }
      // 配菜位置
      &.pos-btm-left {
        // 鮭魚
        img {
          width: 90px;
        }
        @include ingredient-pos(
          $bottom: 20%,
          $left: 25%,
          $m-bottom: 20%,
          $m-left: 10%
        );
      }
      &.pos-top-mid {
        // 番茄
        @include ingredient-pos($top: 2%, $left: 50%, $m-top: 5%, $m-left: 35%);
      }
      &.pos-top-mid-left {
        // 南瓜
        @include ingredient-pos(
          $top: 25%,
          $left: 20%,
          $m-top: 28%,
          $m-left: 10%
        );
      }
      &.pos-top-right {
        // 花椰菜
        @include ingredient-pos(
          $top: 30%,
          $right: 2%,
          $m-top: 30%,
          $m-right: 10%
        );
      }
      &.pos-btm-right {
        // 小黃瓜
        @include ingredient-pos(
          $top: 65%,
          $right: 5%,
          $m-top: 65%,
          $m-right: 15%
        );
      }
    }
  }
}
// 精選卡片內容
.content-card {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  margin: 32px 16px;
  padding: 60px 48px;
  position: relative;
  z-index: 50;
  @media (max-width: 992px) {
    margin: 16px 8px;
    padding: 24px 32px;
    gap: 12px;
  }
}

// 待改
// 固定菜單卡片
.home__fixed-card {
  width: 100%;
  max-width: 306px;
  margin: 0 auto;
  img {
    padding: 12px;
    border-radius: 16px;
    background-color: #e2e2e4;
  }
  button {
    background-color: $white;
    border: none;
    border-radius: 50px;
    padding: 12px 16px;
    // box-shadow: 0px 2px 24px rgba(27, 32, 40, 0.12);
    box-shadow:
      0px 2px 24px rgba(27, 32, 40, 0.12),
      inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    &:hover {
      box-shadow:
        0px 2px 4px rgba(0, 0, 0, 0.15),
        inset 0 1px 1px 0 rgba(255, 255, 255, 0.1),
        0 0 4px 0 rgba(255, 255, 255, 0.15);
      transform: translateY(1px);
    }
  }
}
// swiper 樣式
.custom-swiper {
  --swiper-navigation-color: #000000;
  --swiper-navigation-size: 60px;
}
.custom-swiper {
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
}

.custom-swiper .swiper-button-prev,
.custom-swiper .swiper-button-next {
  background-color: rgba(255, 255, 255, 0.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow:
    0 8px 12px 0 rgba(0, 0, 0, 0.3),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}
// swiper 樣式
.fixed-swiper {
  --swiper-navigation-color: #000000;
  --swiper-navigation-size: 60px;
}
.fixed-swiper .swiper-button-prev {
  left: 2%;
  top: 35%;
}
.fixed-swiper .swiper-button-next {
  right: 2%;
  top: 35%;
}
.fixed-swiper .swiper-button-prev,
.fixed-swiper .swiper-button-next {
  background-color: rgba(255, 255, 255, 0.8);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.3),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}

.tag-item {
  font-size: 12px;
  color: $secondary-200;
  background-color: $secondary-50;
  padding: 4px 10px;
  border-radius: 50px;
  white-space: nowrap; // 避免斷航
}

// MAKE YOUR BITE
.step-card {
  height: 300px;
  border-radius: 24px;
  position: relative;
  z-index: 50;
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
