// 基本設定
img {
  max-width: 100%;
  min-width: 0;
  object-fit: cover;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  // outline: 1px solid red;
}

ul {
  padding-left: 0;
}
li {
  list-style: none;
}

// hero section
.home__hero-section {
  height: calc(100vh - 108px);
  position: relative;
  margin: 0 auto;
  z-index: 100;
  @media (max-width: 992px) {
    margin-top: 108px;
    height: calc(80vh - 108px);
  }
  @media (max-width: 768px) {
    margin-top: 108px;
    height: calc(100vh - 108px);
  }
}

.home__btn-primary {
  display: inline-block;
  text-decoration: none;
  max-width: 306px;
  width: 100%;
  border-radius: 80px;
  padding: 8px 16px;
  cursor: pointer;
  text-align: center;
  color: $primary-100;
  background-color: rgba(44, 73, 24, 0.8);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.22);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus {
    background-color: rgba(77, 113, 53, 0.7);
    box-shadow:
      1px 2px 2px 0px rgba(77, 113, 53, 0.3),
      0 8px 32px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    transform: translateY(-2px);
  }
}
.comma {
  // em 相對大小及位置
  font-size: 0.6em;
  position: relative;
  right: 0.2em;
  bottom: -0.4em;
}
// 左右碗裝飾
.hero__decor {
  position: relative;
  max-width: 700px;
  min-width: 250px;
  width: 40vw;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  opacity: 0.5;
  z-index: 0;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  @media (max-width: 992px) {
    max-width: 40vw;
  }
  @media (max-width: 576px) {
    max-width: 300px;
    opacity: 0.4;
  }
}
.bowl-shadow {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  background: rgba(77, 113, 53, 0.3);
  border-radius: 50%;
  filter: blur(60px);
  z-index: -1;
  @media (max-width: 992px) {
    opacity: 0.1;
  }
}

// 果菜區設定
// (起始角度/距離/延遲/持續時間)
@mixin veggie-style($angle, $distance, $delay, $duration: 20s) {
  --a: #{$angle}; // 初始角度
  --d: #{$distance}; // 距離
  @media (max-width: 768px) {
    --d: 50vw;
  }

  animation-delay: $delay;
  animation-duration: $duration;
}
.hero__decorations {
  max-width: 50vw;
  min-width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  container-type: inline-size; // 把碗設定為蔬菜插圖的容器
  // @media (max-width: 768px) {
  //   min-width: 300px;
  // }
}
.veggie {
  opacity: 0.8;
  position: absolute;
  width: 6vw;
  min-width: 30px;
  max-width: 60px;
  z-index: 1;
  --d: calc(45cqw + 22px); // container query width
  //   @media (max-width: 1900px) {
  //     --d: 50cqw;
  //   }
  //   @media (max-width: 576px) {
  //     --d: 55cqw;
  //   }
  animation: orbit-float 20s linear infinite;
}
// 果菜區動畫
@keyframes orbit-float {
  0% {
    transform: rotate(var(--a)) translateX(var(--d)) rotate(calc(var(--a) * -1))
      scale(1);
  }
  50% {
    transform: rotate(calc(var(--a) + 180deg)) translateX(calc(var(--d) + 30px))
      rotate(calc((var(--a) + 180deg) * -1)) scale(1.1);
  }
  100% {
    transform: rotate(calc(var(--a) + 360deg)) translateX(var(--d))
      rotate(calc((var(--a) + 360deg) * -1)) scale(1);
  }
}

// Smart Nutrition
// 過去的困擾 動畫
.sub-card {
  width: 80%;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
  // delay 一下
  &:nth-child(2) {
    transition-delay: 0.2s;
  }
  &:nth-child(3) {
    transition-delay: 0.4s;
  }
}
.home__btn-link {
  border: none;
  background: none;
  cursor: pointer;
  color: $primary-300;
  span.hover-underline {
    padding-bottom: 4px;
    padding-right: 15px;
  }
  svg {
    transform: translateX(-8px);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  }
  &:active svg {
    transform: scale(0.9);
  }
}
.home__nur-card:hover .home__btn-link svg,
.home__btn-link:hover svg {
  transform: translateX(0);
}
.hover-underline {
  position: relative;
  color: $primary-300;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $brown-300;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
}

.home__nur-card:hover .hover-underline::after,
.home__btn-link:hover .hover-underline::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.bg-bubble,
.bg-bubble2 {
  position: relative;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  img {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 80%;
    height: 80%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 100%;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    opacity: 0.7;
    z-index: 0;
  }
}
.bg-bubble {
  &::before {
    top: 0;
    left: -30px;
    background-image: url(/img/items/bubble1.png);
  }
}
.bg-bubble2 {
  &::before {
    top: 0;
    left: 0;
    background-image: url(/img/items/bubble2.png);
  }
}
.home__nur-section {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
  background-position: center -10px;
  background-size: cover;
  background-repeat: no-repeat;
}
.home__nur-card {
  padding: 8px 16px;
  border: 1px solid transparent;
  transition: 0.5s ease-out;
  border-radius: 24px;
  &:hover {
    border: 1px solid $brown-300;
  }
}

// SIGNATURE BOWLS
.home__signature-section {
  position: relative;
  background-color: $primary-100;
  padding-top: 100px;
  padding-right: 60px;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/items/top-frame-1.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    opacity: 0.4;
    z-index: 0;
  }
  .home__signature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 500px;
    .home__signature-img {
      max-width: 375px;
      width: 60%;
      position: absolute;
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%);
      z-index: 1;
      @media (max-width: 992px) {
        top: 50%;
        left: 50%;
      }
    }
  }
}
.home__swiper {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/items/btm-frame-2.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
    opacity: 0.3;
    z-index: 0;
  }
}
.fixed-swiper {
  max-width: 1400px;
  width: 100%;
  --swiper-navigation-color: #000000;
  --swiper-navigation-size: 80px;
  padding: 16px 50px !important;
  @media (max-width: 768px) {
    padding: 16px 20px !important;
  }
}
.fixed-swiper .swiper-button-prev,
.fixed-swiper .swiper-button-next {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.3),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  z-index: 50;
}
.fixed-swiper .swiper-button-prev {
  left: -26px;
}
.fixed-swiper .swiper-button-next {
  right: -26px;
}
// 固定菜單卡片
.home__fixed-card {
  width: 100%;
  max-width: 306px;
  margin: 0 auto;
  border: 1px solid $brown-200;
  border-radius: 24px;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  img {
    width: 100%;
    height: 300px;
    padding: 12px;
    background-color: #e2e2e4;
  }
  button {
    background-color: $white;
    border: none;
    border-radius: 50px;
    padding: 12px 16px;
    box-shadow:
      0px 2px 24px rgba(27, 32, 40, 0.12),
      inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    &:hover {
      box-shadow:
        0px 2px 4px rgba(0, 0, 0, 0.15),
        inset 0 1px 1px 0 rgba(255, 255, 255, 0.1),
        0 0 4px 0 rgba(255, 255, 255, 0.15);
      transform: translateY(1px);
    }
  }
  .card-body {
    background-color: $white;
  }
  &:hover {
    overflow: hidden;
    transform: translateY(1px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

    img {
      transform: scale(1.05);
      overflow: hidden;
      transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    h5 {
      color: $primary-300;
    }
  }
}
.tag-item {
  color: $brown-300;
  background-color: $brown-100;
  padding: 4px 8px;
  border-radius: 50px;
  white-space: nowrap; // 避免斷航
}
.home__swiper-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &::after {
    content: '加入購物車';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    color: $white;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 25px;
    text-align: center;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.5s ease;
  }
  &:hover {
    color: $white;
    background-color: $primary-200;
    width: 135px;
    border-radius: 25px;
    justify-content: flex-start;
    padding-left: 15px;
  }
  &:hover::after {
    color: $white;
    opacity: 1;
    left: 12px;
    bottom: -3px;
    z-index: 5;
  }
}

// 自由配
.home__custom {
  padding-top: 100px;
  &::before {
    content: '';
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 300px;
    background-image: url(/img/items/bg-decor-2.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    opacity: 0.7;
    z-index: 0;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -50px;
    right: 5%;
    max-width: 50%;
    width: 100%;
    height: 400px;
    background-image: url(/img/items/bg-decor-3.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    opacity: 0.7;
    z-index: -1;
  }
}
.home__article {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/items/bg-decor-6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
    pointer-events: none;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/items/bg-decor-8.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
    pointer-events: none;
  }
}
.home__article-link {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:hover {
    opacity: 0.8;
  }
}

.home__testimonials {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/items/bg-decor-5.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
    pointer-events: none;
  }
}
