// header
.product-page header {
	width: 100%;
	height: 550px;
	background-image:
		linear-gradient(rgba(23, 34, 17, 0), rgba(23, 34, 17, 0.2)), url('/public/img/product/header-bg.jpg');
	background-size: cover;
	background-position: 40% 40%;
	background-repeat: no-repeat;
	background-attachment: fixed;

	.container {
		height: 100%;
	}
	h1,
	h5 {
		letter-spacing: 0.5px;
	}
	h1 {
		margin-top: 200px;
		font-size: 44px;
	}
}
.product-page .header-circle {
	min-width: 250px;
	aspect-ratio: 2/1;
	border-radius: $border-radius-pill $border-radius-pill 0px 0px;
	background-color: $white;
	h5 {
		text-shadow: none;
	}
	@media (max-width: 992px) {
		min-width: 180px;
		aspect-ratio: 2/1;
	}
}

// 向下箭頭
.product-page .bi-arrow-down {
	display: block;
	font-size: 36px;
	text-align: center;
	animation: moveArrow 1.2s infinite;
}
@keyframes moveArrow {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}

.product-page .block-item {
	display: flex;
	// flex-direction: column;
	align-items: center;

	flex: 1;
	padding: map-get($spacers, 8);
	border-radius: 24px;
	background-color: $white;
	border: solid 1px $gray-200;

	box-shadow: 0px 2px 10px $gray-100;
	&:hover {
		border: solid 1px $primary;
		color: $primary;
		background-color: $primary-100;
		box-shadow: 0px 2px 10px rgba(77, 113, 53, 0.25);
		transform: scale(1.025);
		transition: all 0.25s;
		p,
		span,
		h5 {
			color: $primary;
		}

		&:active {
			//       box-shadow: 0px 2px 10px rgba(77, 113, 53, 0.7);
			transform: scale(1);
			transition: all 0.25s;
		}
	}
	span {
		font-size: 48px;
		color: $primary;
		margin-bottom: map-get($spacers, 5);
	}

	h5 {
		color: $gray-600;
		margin-bottom: map-get($spacers, 3);
		text-shadow: none;
	}
	p {
		color: $brown-300;
	}
}

// 每個區域的標題title
.product-page .title {
	text-align: center;
	span {
		display: block;
		font-size: 300px;
		color: $gray-100;
		opacity: 0.25;
		z-index: -1;
	}
	h2 {
		margin-bottom: map-get($spacers, 4);
		font-weight: $font-weight-semibold;
		color: $primary-300;
		letter-spacing: 0.5px;
	}
	h6 {
		font-weight: $font-weight-normal;
		color: $brown-300;
		letter-spacing: 0.5px;
	}
}

// 餐點tab
// .product-page .tab-filter {
// 	ul {
// 		border-bottom: 1px solid $gray-200;
// 	}
// 	li .nav-link:hover {
// 		border-bottom: none;
// 	}
// 	li .tab-navLink {
// 		position: relative;
// 		display: inline-block;
// 		font-size: 18px;
// 		color: $gray-500;
// 		padding-left: $spacer;
// 		padding-right: $spacer;
// 		::after {
// 			content: '';
// 			position: absolute;
// 			left: 0;
// 			bottom: -2px;
// 			width: 100%;
// 			height: 3px;
// 			background: $primary-200;
// 			transform: scaleX(0);
// 			transform-origin: center;
// 			transition: transform 0.3s ease;
// 		}
// 	}
// 	li .tab-navLink {
// 		&::after {
// 			transform: scaleX(1);
// 		}
// 	}
// }
.product-page {
	.tab-filter {
		border-bottom: 1px solid $gray-200;

		.nav-link {
			border-bottom: none !important;
			background: none;
		}

		.tab-navLink {
			position: relative;
			display: inline-block;
			font-size: 18px;
			color: $gray-500;
			padding: 0 $spacer;
			cursor: pointer;
			&:hover {
				color: $primary-200;
			}

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -12px; // 視覺距離自己調
				width: 100%;
				height: 4px;
				border-radius: $border-radius-pill;
				background: $primary-200;
				transform: scaleX(0);
				transform-origin: center;
				transition: transform 0.25s ease;
			}

			&:hover::after {
				transform: scaleX(1);
			}

			&.active::after {
				color: $primary-200;
				font-weight: $font-weight-medium;
				transform: scaleX(1);
			}
		}
	}
}

section.set-section {
	margin-top: 300px;
}
