// header
.product-page header {
  width: 100%;
  height: 550px;
  background-image:
    linear-gradient(rgba(23, 34, 17, 0), rgba(23, 34, 17, 0.2)),
    url("/public/img/product/header-bg.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .container {
    height: 100%;
  }
  h1,
  h5 {
    //     text-shadow: 0px 4px 10px rgba(23, 34, 17, 0.8);
    letter-spacing: 0.5px;
  }
  h1 {
    margin-top: 200px;
    font-size: 44px;
  }
}
.product-page .header-circle {
  min-width: 250px;
  aspect-ratio: 2/1;
  border-radius: $border-radius-pill $border-radius-pill 0px 0px;
  background-color: $white;
  h5 {
    text-shadow: none;
  }
  @media (max-width: 992px) {
    min-width: 180px;
    aspect-ratio: 2/1;
  }
}

// 向下箭頭
.product-page .bi-arrow-down {
  display: block;
  font-size: 36px;
  text-align: center;
  animation: moveArrow 1.2s infinite;
}
@keyframes moveArrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

// 菜單錨點
// .product-page .block-item {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   flex: 1;
//   padding: map-get($spacers, 8);
//   border-radius: 32px;
//   background-color: $white;
//   border: solid 1px $gray-200;
//   box-shadow: 0px 2px 10px $gray-100;
//   &:hover {
//     border: solid 1px $primary;
//     color: $primary;
//     background-color: $primary-100;
//     box-shadow: 0px 2px 10px rgba(77, 113, 53, 0.25);
//     transform: scale(1.025);
//     transition: all 0.25s;
//     p,
//     span,
//     h5 {
//       color: $primary;
//     }

//     &:active {
//       box-shadow: 0px 2px 10px rgba(77, 113, 53, 0.7);
//       transform: scale(1);
//       transition: all 0.25s;
//     }
//   }
//   span {
//     font-size: 48px;
//     color: $primary;
//     margin-bottom: map-get($spacers, 5);
//   }

//   h5 {
//     color: $gray-600;
//     margin-bottom: map-get($spacers, 3);
//   }
//   p {
//     color: $brown-300;
//   }
// }
.product-page .block-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: map-get($spacers, 8);
  border-radius: 24px;
  background-color: $white;
  border: solid 1px $gray-200;

  box-shadow: 0px 2px 10px $gray-100;
  &:hover {
    border: solid 1px $primary;
    color: $primary;
    background-color: $primary-100;
    box-shadow: 0px 2px 10px rgba(77, 113, 53, 0.25);
    transform: scale(1.025);
    transition: all 0.25s;
    p,
    span,
    h5 {
      color: $primary;
    }

    &:active {
      //       box-shadow: 0px 2px 10px rgba(77, 113, 53, 0.7);
      transform: scale(1);
      transition: all 0.25s;
    }
  }
  span {
    font-size: 48px;
    color: $primary;
    margin-bottom: map-get($spacers, 5);
  }

  h5 {
    color: $gray-600;
    margin-bottom: map-get($spacers, 3);
    text-shadow: none;
  }
  p {
    color: $brown-300;
  }
}

// 每個區域的標題title
.product-page .title {
  //   text-align: center;
  padding-left: map-get($spacers, 4);
  h2 {
    margin-bottom: map-get($spacers, 4);
    font-weight: $font-weight-semibold;
    color: $primary-300;
  }
  h6 {
    font-weight: $font-weight-normal;
    color: $brown-300;
  }
}

// 餐點tab
.product-page .meal-filter {
  ul {
    border-bottom: 1px solid $gray-200;
  }
  li .nav-link {
    display: inline-block;
    font-size: map-get($font-sizes, 6);
    color: $gray-500;
    padding-left: $spacer;
    padding-right: $spacer;
  }
  li .nav-link.active {
    color: $primary-200;
    border-bottom: 3px solid $primary-200;
  }
}

section.set-section {
  margin-top: 300px;
}
