$all-colors: map-merge-multiple(
  $blues,
  $indigos,
  $purples,
  $pinks,
  $reds,
  $oranges,
  $yellows,
  $greens,
  $teals,
  $cyans,
  $grays
);

$utilities: map-merge(
  $utilities,
  (
    "font-size": map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
          rfs: false,
        )
      ),
    "display-size": (
      property: font-size,
      class: display,
      values: $display-font-sizes,
      responsive: true,
      rfs: false,
    ),
    "color": map-merge(
        map-get($utilities, "color"),
        (
          values: map-merge(
              map-get(map-get($utilities, "color"), "values"),
              $all-colors
            ),
        )
      ),
  )
);
