$all-colors: map-merge-multiple(
  $blues,
  $indigos,
  $purples,
  $pinks,
  $reds,
  $oranges,
  $yellows,
  $greens,
  $teals,
  $cyans,
  $grays
);

$utilities: map-merge(
  $utilities,
  (
    "font-size": map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
          rfs: false,
        )
      ),
    "display-size": (
      property: font-size,
      class: display,
      values: $display-font-sizes,
      responsive: true,
      rfs: false,
    ),
    "color": map-merge(
        map-get($utilities, "color"),
        (
          values: map-merge(
              map-get(map-get($utilities, "color"), "values"),
              $all-colors
            ),
        )
      ),
    "rounded": (
      property: border-radius,
      class: rounded,
      values: (
        null: $border-radius,
        // 預設是 16px
        0: 0,
        1: $border-radius-s,
        // 8px
        2: $border-radius-m,
        // 16px
        3: $border-radius-l,
        // 24px
        4: $border-radius-xl,
        // 32px
        5: $border-radius-rounded,
        // 80px
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill),
      ),
    ),
    "shadow": (
      property: box-shadow,
      class: shadow,
      values: (
        null: $box-shadow,
        m: $box-shadow-m,
        navbar: $box-shadow-navbar,
        top: $box-shadow-top,
        none: none,
      ),
    ),
    "position": (
      property: position,
      values: static relative absolute fixed sticky,
    ),
    "top": (
      property: top,
      values: $position-values,
    ),
    "bottom": (
      property: bottom,
      values: $position-values,
    ),
    "start": (
      property: left,
      class: start,
      values: $position-values,
    ),
    "end": (
      property: right,
      class: end,
      values: $position-values,
    ),
    "translate-middle": (
      property: transform,
      class: translate-middle,
      values: (
        null: translate(-50%, -50%),
        x: translateX(-50%),
        y: translateY(-50%),
      ),
    ),
  )
);
