// header
.test header {
	width: 100%;
	height: 450px;
	background-image:
		linear-gradient(rgba(23, 34, 17, 0), rgba(23, 34, 17, 0.2)), url('/public/img/product/header-bg.jpg');
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;

	.container {
		height: 100%;
	}
	h5 {
		letter-spacing: 0.5px;
		font-weight: $font-weight-normal;
		color: $brown-300;
	}
	h1 {
		margin-top: 200px;
		font-size: 44px;
		letter-spacing: 0.5px;
		color: $primary-300;
		font-weight: $font-weight-semibold;
	}
}
.test .header-circle {
	min-width: 250px;
	aspect-ratio: 2/1;
	border-radius: $border-radius-pill $border-radius-pill 0px 0px;
	background-color: $white;
	h5 {
		text-shadow: none;
	}
	@media (max-width: 992px) {
		min-width: 180px;
		aspect-ratio: 2/1;
	}
}

.product-page aside {
	min-width: 220px;
	flex-shrink: 0;
	margin-right: 40px;
}

.product-page .accordion-item {
	background-color: $primary-100;
	border: 1px solid $gray-200;
	border-radius: 16px;
}
.product-page .accordion-button {
	border-radius: 16px;
	box-shadow: none;
}
.product-page .accordion-button:not(.collapsed) {
	background-color: $primary-100;
	color: $primary-200;
	font-weight: $font-weight-semibold;
}
.product-page .accordion-body {
	padding: 0px 12px;
}

.product-page .tabInput.form-check {
	padding: 0px;
}
.product-page .tabInput input {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}
.product-page .tabInput .form-check-label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	span {
		font-size: 20px;
	}
	padding: 8px;
	cursor: pointer;
	&:hover {
		border-radius: 8px;
		background-color: rgb(77, 113, 53, 0.15);
	}
}
.product-page .tabInput.tabActive {
	background-color: $primary-200;
	color: $white;
	border-radius: 8px;
}
