// header
.test .header {
	padding-top: 80px;
	width: 100%;
	height: 350px;
	background-image:
		linear-gradient(rgba(23, 34, 17, 0), rgba(23, 34, 17, 0.25)), url('/public/img/product/header-bg.jpg');
	// background-image:
	// 	linear-gradient(rgba(23, 34, 17, 0), rgba(23, 34, 17, 0.2)),
	// 	url('https://images.unsplash.com/photo-1546069901-ba9599a7e63c?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

	background-size: cover;
	background-position: 40% 40%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	.container {
		height: 100%;
	}
	h5 {
		// letter-spacing: 0.5px;
		// font-weight: $font-weight-normal;
		// color: $brown-300;
		color: $white;
		text-shadow: black 0.1em 0.1em 0.2em;
	}
	h1 {
		font-size: 44px;
		letter-spacing: 0.5px;
		// color: $primary-300;
		// font-weight: $font-weight-semibold;
		color: $white;
		font-weight: $font-weight-semibold;
		text-shadow: black 0.1em 0.1em 0.2em;
	}
}
.test .header-fixed {
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100px;
	// background-image:
	// 	linear-gradient(rgba(23, 34, 17, 0), rgba(23, 34, 17, 0.25)),
	// 	url('https://images.unsplash.com/photo-1546069901-ba9599a7e63c?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-image:
		linear-gradient(rgba(23, 34, 17, 0), rgba(23, 34, 17, 0.2)), url('/public/img/product/header-bg.jpg');

	background-size: cover;
	background-position: 40% 40%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.test .header-circle {
	min-width: 250px;
	aspect-ratio: 2/1;
	border-radius: $border-radius-pill $border-radius-pill 0px 0px;
	background-color: $white;
	h5 {
		text-shadow: none;
	}
	@media (max-width: 992px) {
		min-width: 180px;
		aspect-ratio: 2/1;
	}
}

// menu-title
.menu-title {
	margin-top: 200px;
	margin-bottom: 80px;
	h2 {
		font-size: 36px;
		color: $primary-300;
		text-align: center;
	}
	p {
		color: $brown-300;
		text-align: center;
	}
}

// menu-sorted
.menu-sorted {
	top: 100px;
	z-index: 1;
	background-color: $white;
	padding: 12px 24px 12px 12px;
}

// aside
.product-page aside {
	position: sticky;
	top: 120px;

	/* 必須設定 align-self，否則 aside 會被父層拉長到跟 col-10 一樣高，
       一旦 aside 高度等於 col-2 高度，sticky 就會失效 */
	align-self: flex-start;

	max-height: calc(100vh - 120px - 40px);
	overflow-y: auto;
	overflow-x: hidden;
}
// accordion
.product-page .accordion-item {
	background-color: #f6f7f6;
	border: none;
	border-radius: 16px;
	overflow: hidden;
	margin-bottom: 8px;
}
.product-page .accordion-button {
	box-shadow: none;
	border-bottom: 1px solid $gray-200;
	padding: 16px 20px;
}
.product-page .accordion-button:not(.collapsed) {
	// z-index: 0;
	background-color: #f6f7f6;
	color: $primary-200;
	font-weight: $font-weight-semibold;
	border-bottom: none;
}
.product-page .accordion-body {
	padding: 12px;
	padding-top: 4px;
}

// tabInput
.product-page .tabInput.form-check {
	padding: 0px;
}
.product-page .tabInput input {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}
.product-page .tabInput .form-check-label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	span {
		font-size: 20px;
	}
	padding: 8px 16px;
	cursor: pointer;
	&:hover {
		border-radius: 8px;
		background-color: rgb(77, 113, 53, 0.15);
	}
}
.product-page .tabInput.tabActive {
	background-color: $primary-200;
	color: $white;
	border-radius: 8px;
}

// tagInput
.product-page .tagInput input {
	display: none;
}
.product-page .tagInput {
	width: fit-content;
	align-items: center;
	font-size: 14px;
	border: 1px solid $gray-200;
	border-radius: 100px;
	padding: 6px 12px;
	margin-bottom: 8px;
	cursor: pointer;
	label {
		display: flex;
		align-items: center;
		cursor: pointer;
		justify-content: center;
	}
	span {
		font-size: 16px;
		margin-left: 8px;
	}

	&:hover {
		border-radius: 100px;
		background-color: rgb(77, 113, 53, 0.15);
	}
}
.product-page .tagInput.tagActive {
	display: flex;
	background-color: $primary-200;
	color: $white;
	justify-content: center;
}
.product-page .page-title {
	h2 {
		font-size: 28px;
	}
}

// CTA-custom
.product-page .CTA-custom {
	.img {
		height: 300px;
	}
	img {
		width: 100%;
		height: 100%;
	}
	.content {
		padding: 40px;
		background: $primary-100;
		height: 100%;
		h2 {
			font-size: 28px;
			letter-spacing: 0.5px;
			color: $primary-300;
			font-weight: $font-weight-semibold;
			margin-bottom: 16px;
		}
		h5 {
			font-size: 20px;
			letter-spacing: 0.5px;
			font-weight: $font-weight-normal;
			color: $brown-300;
			margin-bottom: 40px;
		}
	}
	.cta-btn {
		width: fit-content;
		background: $primary-200;
		color: $white;
		border-radius: $border-radius-pill;
		padding: 0.75rem 1.5rem;
		border: none;
	}
}
