// ingredient card 區
@mixin ingredient-pos(
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $m-top: null,
  $m-right: null,
  $m-bottom: null,
  $m-left: null
) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  @media (max-width: 992px) {
    top: $m-top;
    right: $m-right;
    bottom: $m-bottom;
    left: $m-left;
  }
}
.ingredient-card {
  width: 120px;
  height: 90px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  background: $white;
  padding: 5px 12px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  img {
    position: absolute;
    top: -50px;
    left: -30px;
    object-fit: contain;
    margin-right: 5px;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.15));
  }
  // 配菜位置
  &.pos-btm-left {
    // 鮭魚
    @include ingredient-pos(
      $bottom: 20%,
      $left: 25%,
      $m-bottom: 20%,
      $m-left: 10%
    );
    img {
      width: 120px;
      transform: rotate(-5deg);
    }
  }
  &.pos-top-mid {
    // 番茄
    @include ingredient-pos($top: 2%, $left: 50%, $m-top: 5%, $m-left: 35%);
    img {
      width: 100px;
    }
  }
  &.pos-top-mid-left {
    // 南瓜
    @include ingredient-pos($top: 25%, $left: 25%, $m-top: 28%, $m-left: 10%);
    img {
      width: 90px;
    }
  }
  &.pos-top-right {
    // 花椰菜
    @include ingredient-pos($top: 25%, $right: 5%, $m-top: 25%, $m-right: 10%);
    img {
      width: 80px;
    }
  }
  &.pos-btm-right {
    // 小黃瓜
    @include ingredient-pos($top: 65%, $right: 5%, $m-top: 65%, $m-right: 15%);
    img {
      width: 100px;
      transform: rotate(-50deg);
    }
  }
}
.progress-container {
  flex-shrink: 0;
  .circle-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 2;
    .label {
      font-size: 12px;
      color: #666;
      display: block;
      margin-bottom: -2px;
    }
    .value {
      font-size: 14px;
      font-weight: 800;
      color: #333;
    }
  }
  .progress-container svg {
    transform: rotate(-90deg);
    circle {
      fill: transparent;
    }
  }
}

// step card 區
.step-card {
  display: flex;
  width: 100%;
  height: 400px;
  gap: 12px;
  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    gap: 8px;
  }
  .step {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    cursor: pointer;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    .shadow {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      opacity: 0;
    }
    &.active {
      flex-grow: 10000; // 推擠其他區塊
      cursor: default;
      border-radius: 40px;
      .shadow {
        opacity: 1;
      }
      .label {
        bottom: 15px;
        left: 15px;
        .info {
          text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
    .label {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 10px;
      left: 10px;
      transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
      .icon {
        min-width: 40px;
        height: 40px;
        background-color: $white;
        color: $primary-200;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
      }
      .info {
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        margin-left: 12px;
        color: $white;
        white-space: nowrap;
        opacity: 0;
        transform: translateX(20px);
        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
        .sub {
          transition-delay: 0.3s;
        }
      }
    }
    // .progress-bar {
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   height: 3px;
    //   background: $primary-200;
    //   width: 0;
    //   animation: progress linear forwards;
    //   border-radius: 0 0 0 30px;
    // }

    // &.active .progress-bar {
    //   border-radius: 0 0 40px 40px;
    // }

    @media (max-width: 768px) {
      min-height: 120px;
      &.active {
        min-height: 250px;
      }
    }
  }
}
// swiper 進度條（需要再加）
@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
// 頁碼
.step-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
  .pagination {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background: rgba(0, 0, 0, 0.4);
    }
    &.active {
      background: $primary-200;
      width: 30px;
      border-radius: 5px;
    }
  }
}

@media (max-width: 768px) {
  .step-indicators {
    margin-top: 15px;
  }
}

// content card
.content-card {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  position: relative;
  z-index: 50;
  @media (max-width: 992px) {
    margin: 16px 8px;
    gap: 12px;
    justify-content: center;
    text-align: center;
  }
}

// comment card
.comment-card {
  width: 350px;
  border: 1.5px solid $primary-200;
  border-bottom: 4px solid $primary-200;
  background-color: $white;
  padding: 16px 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 12px;
}
// comment card 動畫
.scroll-container {
  display: flex;
  // white-space: nowrap;
}
.scroll-track-left,
.scroll-track-right {
  display: flex;
  flex-shrink: 0;
  animation-name: marquee;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.scroll-track-left {
  animation-direction: alternate;
}
.scroll-track-right {
  animation-direction: alternate-reverse;
}
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
.scroll-container:hover .scroll-track-left,
.scroll-container:hover .scroll-track-right {
  animation-play-state: paused;
}
