// 下拉選單
.product-page .rs__control {
	min-height: 51px;
	color: $primary-200;
	border-radius: $border-radius-pill;
	border: 1px solid $gray-200;
	padding: 10px 24px;
	transition: all 0.25s ease;

	.rs__placeholder,
	.rs__indicator {
		color: $gray-400;
	}
	.rs__indicator {
		margin-left: 16px;
	}

	&:hover {
		border: 1px solid $primary-200;
		box-shadow: 0px 2px 10px rgba(77, 113, 53, 0.1);
		.rs__placeholder,
		.rs__indicator {
			color: $primary-200;
		}
	}
}
.product-page .rs__control.rs__focus {
	border: 1px solid $primary-200;
	box-shadow: 0px 2px 6px rgba(77, 113, 53, 0.1);
}
.product-page .rs__control.rs__hasValue {
	padding-left: 8px;
}

.product-page .rs__menu {
	width: 160px;
	border: 1px solid $primary-200;
	border-radius: 12px;
	padding: 12px 8px;
	background-color: $white;
	box-shadow: 0px 2px 6px rgba(77, 113, 53, 0.2);
	margin-top: 12px;

	left: 50% !important;
	transform: translateX(-50%) !important;
}

.rs__option {
	padding: map-get($spacers, 2) map-get($spacers, 0);
	text-align: center;
	&:hover {
		background-color: $primary-100;
		border-radius: $border-radius-s;
	}
}
.rs__option.rs__focus {
	background-color: $primary-100;
	border-radius: $border-radius-s;
}

.product-page .rs__value-container {
	flex-wrap: nowrap !important;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	scrollbar-width: none;
}

.rs__multi-value {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	gap: 4px;
	font-size: 14px;
	padding: 4px 12px;
	margin-left: 4px;
	color: $primary-200;
	background-color: rgba(227, 231, 224, 0.6);
	border-radius: $border-radius-pill;
	text-overflow: ellipsis;
	span {
		display: inline-block;
		font-size: 14px;
		font-weight: $font-weight-semibold;
	}
	svg {
		display: none;
	}
}
