.product-page .card {
	border-radius: $border-radius-m;
	overflow: hidden;
	// box-shadow: 0px 2px 4px rgba(77, 113, 53, 0.25);
	position: relative;
	text-decoration: none;
	cursor: pointer;
}

.product-page .card .img {
	display: flex;
	justify-content: end;
	align-items: center;

	//   background-image: url("https://images.unsplash.com/photo-1512386233331-f023884a92e8?q=80&w=2095&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

	background-image: url('https://images.unsplash.com/photo-1530176928500-2372a88e00b5?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-size: auto;
	background-position: right top;

	img {
		width: 85%;
		aspect-ratio: 3/2;
		object-fit: cover;
		object-position: 10% 10%;
	}
	.tabPill-position-absolute {
		top: 10%;
		left: 10px;
	}
	.tabPill {
		font-size: 14px;
		font-weight: $font-weight-medium;
		background-color: $accent;
		color: $gray-600;
		border: 1px solid $white;
		border-radius: $border-radius-pill;
		padding: 2px map-get($spacers, 3);
		margin-bottom: 2px;
	}
}

.product-page .card-footer {
	background-color: $white;
	border-top: none;
	padding: 0;
}
.product-page .card .num-control {
	bottom: 20px;
	right: 20px;
	span {
		font-size: map-get($font-sizes, 5);
	}

	.minus,
	.add {
		width: 48px;
		height: 48px;
		border: 1px solid $gray-200;
		border-radius: $border-radius-pill;
		background-color: $white;
		i {
			font-size: 24px;
		}
	}
}

.product-page .card .button-section {
	padding-top: map-get($spacers, 5);
	border-top: 1px solid $gray-200;
	.primary-btn {
		padding: map-get($spacers, 3) map-get($spacers, 6);
		border: none;
		border-radius: $border-radius-pill;
		background-color: $primary-200;
		color: $white;
		i {
			font-size: 24px;
		}
	}
}

.product-page .card .flavorTag {
	.tag {
		width: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}

.product-page .nutrition {
	color: $brown-300;
	border-bottom: none;
	// font-weight: $font-weight-medium;
}

// 原始footer
// .product-page .card .num-control {
// 	span {
// 		font-size: map-get($font-sizes, 5);
// 	}

// 	.minus,
// 	.add {
// 		width: 48px;
// 		height: 48px;
// 		border: 1px solid $gray-200;
// 		border-radius: $border-radius-pill;
// 		background-color: $white;
// 		i {
// 			font-size: 24px;
// 		}
// 	}
// }
