
.itemCard {
    --font-color: #323232;
    --bg-color: #fffefea1;
    border-radius: 20px;
    background: var(--bg-color);
    box-shadow: -9px 9px 18px #5a5a5a70,
                9px -9px 18px #ffffff;
    display: flex;
    flex-direction: column;
    transition: .4s;
    position: relative;
    outline: 4px solid transparent;
}

.itemCard:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 2px #5a5a5a;
}

.itemCard__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.itemCard__descr-wrapper {
    padding: 12px 10px;
    display: grid;
}

.itemCard__title {
    color: var(--font-color);
    text-align: center;
    font-weight: 900;
    font-size: 16px;
}

.itemCard__descr {
    color: $white;
    background-color: $gray-500;
    margin: 4px;
    padding: 9px 5px;
    border-radius: 50%;
}


.itemCard__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: 85px;
    padding: 0px;
    background: $gray-100;
    border-radius: 50px;
}

.itemCard__counter-score, .itemCard__btn {
    font-weight: 500;
    font-size: 16px;
    color: $brown-300;
    width: 20px;
    text-align: center;
}

.itemCard__btn {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    background: transparent;
    transition:  0.2s ease-in-out;

    &:hover{
        background: $gray-200
    }
}

