
.c-typeButton {
    text-decoration: none;
    line-height: 1;
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 8px 8px 15px rgba(0,0,0,.05);
    background-color: #fff;
    color: #121212;
    border: none;
    cursor: pointer;
    color: $brown-300;
    border: 3px solid transparent;
    width: 80%;
    padding: 6px 3px;
    transition: all 0.3s ease;
    &.c-typeButton-active {
        border: 3px solid #dcc47c;
        width: 98%;
        .c-typeButton-decor {
            transform: translateX(0);
        }
        
        box-shadow: 2px 4px 8px rgba(0,0,0,.1);
    }
    @media (max-width: 992px){
        width: 110px;
        padding: 2px 3px;
        border: 3px solid #e5d29885;
        box-shadow: 2px 2px 2px rgba(0,0,0,.05);

        &.c-typeButton-active {
            width: 110px;
        }
    }
    
}

.c-typeButton-decor {
    position: absolute;
    inset: 0;
    background-color: var(--clr);
    transform: translateX(-100%);
    transition: transform .5s;
    z-index: 0;
}

.c-typeButton-content {
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    @media (max-width: 992px){
        font-weight: 500;
        
    }
}

.c-typeButton__icon { 
    padding: 4px 6px;
    display: grid;
    place-items: center;
}

.c-typeButton__text {
    display: inline-block;
    transition: color .2s;
    padding: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}

.c-typeButton:hover{
    border: 3px solid #dcc47c;
}



.c-typeButton:hover .c-typeButton-decor {
    transform: translate(0);
}


