.adm-theme .order-page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 120px 16px 40px 16px;
}

// order-page 的 header
.adm-theme .order-page {
  .header {
    background: none; // 清除別人的設定
    backdrop-filter: none; // 清除別人的設定
    border: 0px; // 清除別人的設定
    position: relative; // 清除別人的設定
  }
  .title {
    font-size: 28px;
    font-weight: bold;
    color: $adm-gray-black;
  }
  .history.disable {
    display: flex;
    align-items: center;
    color: $disable-color;
    cursor: default;
    &::after {
      content: "\F47A";
      font-family: "bootstrap-icons";
      margin-left: 0.125rem;
      color: $disable-color;
    }
  }
  .search-bar {
    height: 45px;
    border-radius: 100px;
    padding-left: 40px;
    padding-right: 12px;
  }
  .search-bar__icon {
    color: $adm-gray-800;
    position: absolute;
    left: 16px;
    top: 10px;
  }
  .filter__block {
    padding: 20px 40px;
    border-radius: 20px;
    p {
      font-size: 14px;
    }
    i {
      font-size: 24px;
      -webkit-text-stroke: 0.5px;
    }
    .num {
      font-size: 28px;
      color: $adm-gray-black;
      font-weight: bold;
      text-align: left;
      margin-bottom: 4px;
    }
  }
}

// order-page 的 content
.adm-theme .order-page {
  .content {
    padding: 32px 40px;
    border-radius: 32px;
  }
  .table {
    vertical-align: middle;
    --bs-table-bg: ;
    $table-cell-padding-x: 12px;
    th {
      padding: 8px 8px 16px 8px;
      border-bottom: 1px solid $adm-gray-black;
    }
    td {
      padding: 12px 8px;
      border-bottom: 1px solid $adm-gray-300;
    }
    .table-noshow {
      padding: 48px 20px 0px 20px;
    }
  }

  .table i {
    font-size: 20px;
  }
  .table .date {
    display: inline-block;
    width: 100px;
  }
  .table .time {
    margin-left: 8px;
  }
  .tag-status {
    font-size: 12px;
    border-radius: 8px;
    padding: 10px 16px;
    font-weight: 500;
    line-height: 100%;
  }
  .tag-button {
    font-size: 12px;
    border-radius: 8px;
    padding: 10px 16px;
    font-weight: 400;
    line-height: 100%;
    .bi {
      font-size: 12px;
      font-style: normal;
    }
    // box-shadow: 0 4px 8px rgba(27, 32, 40, 0.2);
  }
  .status-new {
    background-color: $adm-gray-300;
    color: $adm-gray-black;
  }
  .status-done {
    background-color: $adm-gray-200;
    color: $adm-gray-300;
    border: none;
  }
  .status-prepare {
    background-color: $adm-gray-black;
    color: $adm-gray-white;
    border: none;
  }
  .status-ready {
    background-color: $adm-success;
    color: $adm-gray-white;
    border: none;
  }
  .status-unpaid {
    background-color: $adm-danger;
    color: $adm-gray-white;
    border: none;
  }
}
