.adm-blog{
    h3,h4,h5{
        margin: 10px 0;
    }

    .ql-editor p {
        margin-bottom: 10px; 
    }
    .modal-body{
        padding: 30px;
    }
    .modal-content{
        background-color: $white;
    }
}