// navbar
.navbar-nav.delete__navbar_nav__glassbg {
  background: none;
  backdrop-filter: none;
  border-radius: none;
  border: 0;
  box-shadow: none;
  overflow: visible;
  transition: none;
}
.admNavbar {
  border-radius: 50px;
  padding: 8px 16px;
}
.nav-item {
  padding: 0;
}
.adm-theme {
  .adm__navbar {
    color: $adm-gray-black;
    padding: 8px 20px;
    border-radius: 100px;
    font-weight: 400;
    line-height: 1.5;
    &::after {
      content: "";
    }
    &:hover {
      color: #ff6d20;
    }
  }
  .adm__navbar.active {
    color: $adm-gray-white;
    background-color: $adm-gray-black;
  }
  .adm__navbar.disable {
    color: $disable-color;
    cursor: default;
    &::after {
      content: "\F47A";
      font-family: "bootstrap-icons";
      margin-left: 0.125rem;
      vertical-align: middle;
      color: $disable-color;
    }
  }
}

// adm__mode
.adm__mode__circle {
  border-radius: 100px;
  width: 14px;
  height: 14px;
}
.adm__mode__circle.mode__circle__show {
  background-color: $adm-gray-white;
}
.adm__mode__bg {
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  display: flex;
  padding: 0.25rem;
  gap: 0.15rem;
  background-color: $disable-color;
  border: none;
  margin-right: 0.5rem;
}
.adm__mode__bg.mode__bg__show {
  background-color: $success;
}
