// order-page 文字
.adm_text-primary {
	color: $adm-primary;
}
.adm_text-subtitle {
	color: $adm-gray-500;
}
.adm_text-danger {
	color: $adm-danger;
}

// order-page 全域
.adm-theme .order-page {
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 120px 16px 40px 16px;
}

// order-page navbar
.adm-theme .order-page {
	.order-navbar {
		background: none; // 清除別人的設定
		backdrop-filter: none; // 清除別人的設定
		border: 0px; // 清除別人的設定
		position: relative; // 清除別人的設定
		padding-left: 20px;
		padding-right: 20px;
	}
	.navbar-title {
		text-decoration: none;
		color: $adm-gray-800;
		font-size: 18px;
		font-weight: 400;
	}
	.navbar-title.active {
		color: $adm-gray-black;
		font-size: 28px;
		font-weight: bold;
	}
	.navbar-title.disable {
		display: flex;
		align-items: center;
		font-size: 18px;
		font-weight: 400;
		color: $adm-gray-300;
		cursor: default;
		&::after {
			content: '\F47A';
			font-family: 'bootstrap-icons';
			margin-left: 2px;
			color: $adm-gray-300;
		}
	}
}

// order-page search-bar
.adm-theme .order-page {
	.search-bar {
		height: 45px;
		border-radius: 100px;
		padding-left: 40px;
		padding-right: 12px;
	}
	.search-bar__icon {
		color: $adm-gray-800;
		position: absolute;
		left: 16px;
		top: 10px;
	}
}

// modal-backdrop
.modal .backdrop {
	position: fixed;
	inset: 0;
	background-color: rgba(27, 32, 40, 0.4);
	z-index: -1;
}

// tag, status設計
.adm-theme .order-page,
.order-detail {
	.tag {
		font-size: 12px;
		border-radius: 100px;
		padding: 10px 16px;
		font-weight: 400;
		line-height: 100%;
		.bi {
			font-size: 12px;
			font-style: normal;
		}
	}
	.status-new {
		background-color: $adm-gray-black;
		color: $adm-gray-white;
	}
	.status-done {
		text-align: center;
		background-color: $adm-gray-200;
		color: $adm-gray-300;
		border: 1px solid $adm-gray-300;
		border: none;
	}
	.status-prepare {
		background-color: $adm-gray-white;
		color: $adm-gray-black;
		border: 1px solid $adm-gray-300;
		font-weight: 500;
	}
	.status-ready {
		background-color: #e7f5ee;
		color: #33b277;
		border: 1px solid #b1e1ca;
		font-weight: 500;
	}
	.status-unpaid {
		background-color: #fcebee;
		color: #e94051;
		border: 1px solid #f6b8bf;
		font-weight: 500;
	}
}
