.adm-product-page {
  .adm-pro-table-layout {
    border-radius: 32px;
    padding: 20px;
  }

  .adm-pro-table {
    --bs-table-bg: none;
  }
  .adm-pro-table thead tr,
  .adm-pro-table thead th {
    border-bottom: none !important;
    text-align: center;
  }
  .adm-pro-table tbody th,
  .adm-pro-table tbody td {
    color: #5a5a5a;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 300;
    border: none;
    text-align: center !important;
    vertical-align: middle;
  }

  .nav-link.active {
    background: #000;
    color: #fff;
  }

  .adm-pro-table tbody tr:hover,
  .adm-pro-table tbody tr:focus {
    background: #ffffffd5;
  }

  // Modal

  .adm-product-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .adm-product-modal-content {
    margin: 20px;
    padding: 32px;
    width: 90%;
    max-width: 900px;
    height: 80%;
    overflow-y: auto;
    display: grid;
    border-radius: 20px;
    box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.25);
    // background: radial-gradient(#f5f2c1, rgba(227, 227, 227, 0.75));
    transition: all 0.2s;

    .adm-product-modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #fff;
      padding-bottom: 16px;
      color: #1a1a1a;

      .close-x {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }

    .adm-product-modal-body {
      padding: 20px 0;
    }

    .adm-product-modal-footer {
      text-align: center;
      border-top: 1px solid #eee;
      padding-top: 24px;
    }
  }

  .adm-product-modal-content:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .adm-product-confirmModal-content {
    padding: 48px;
    border-radius: 20px;
  }
}
