// order-today dashboard
.adm-theme .order-today .dashboard {
	.filter__block {
		padding: 20px 40px;
		border-radius: 20px;
		transition: all 0.25 ease-in-out;
		p {
			font-size: 14px;
		}
		i {
			font-size: 24px;
			-webkit-text-stroke: 0.5px;
		}
		.num {
			font-size: 28px;
			color: $adm-gray-black;
			font-weight: bold;
			text-align: left;
			margin-bottom: 4px;
		}
		&:hover {
			transform: scale(1.05);
			border: 1px solid $adm-primary;
			i {
				color: $adm-primary;
			}
		}
	}
}
.adm-theme .order-today .dashboard .filter__block.focus {
	border: 1px solid rgba($color: $adm-primary, $alpha: 0.8);
	box-shadow: 0px 2px 10px 0px rgba($color: $adm-primary, $alpha: 0.4);
	// color: $adm-primary;
	// font-weight: 600;
	// .num {
	// 	color: $adm-primary;
	// }
}

// order-today content
.adm-theme .order-today .content {
	border-radius: 32px;
	padding: 32px 40px;
}

// order-today toolbar
// .adm-theme .order-today .toolbar {
//   .search-bar {
//     height: 45px;
//     border-radius: 100px;
//     padding-left: 40px;
//     padding-right: 12px;
//   }
//   .search-bar__icon {
//     color: $adm-gray-800;
//     position: absolute;
//     left: 16px;
//     top: 10px;
//   }
// }

// order-today table
.adm-theme .order-today .table {
	vertical-align: middle;
	--bs-table-bg: ;
	$table-cell-padding-x: 12px;
	tr:hover {
		background-color: rgba($color: $adm-gray-200, $alpha: 0.6);
	}

	th {
		padding: 14px 8px 12px 8px;
		border-bottom: 1px solid $adm-gray-black;
	}
	td {
		padding: 14px 8px;
		border-bottom: 1px solid $adm-gray-300;
		letter-spacing: 1.2px;
	}
	.table-empty {
		padding: 48px 20px 0px 20px;
	}
	i {
		font-size: 20px;
	}
	.date {
		display: inline-block;
		width: 100px;
	}
	.time {
		margin-left: 8px;
	}
	button:hover {
		border: 1px solid $adm-gray-black;
		background-color: $adm-gray-white;
	}
}
