.mainBody {
    min-height: 100vh;
    background-image:
        radial-gradient(at 0% 0%, rgba(230, 230, 230, 1) 0px, transparent 70%),
        radial-gradient(at 100% 100%, rgba(233, 215, 88, 1) 0px, transparent 70%);

    background-color: #ffff;
}