//primitive
//gray
$adm-gray-white: #fff;
$adm-gray-200: #ededed;
$adm-gray-300: #cecece;
$adm-gray-500: #8c8e90;
$adm-gray-800: #363a3f;
$adm-gray-black: #1b2028;

//primary
$adm-primary: #fe8546;
$adm-primary-light: #ffeee0;
$adm-success: #33b277;
$adm-success-light: #d0f1e2;
$adm-danger: #d93e4d;
$btn-primary-shadow: #fe854633; // opacity:40%
$btn-secondary-shadow: #1b202866; // opacity:40%
$btn-tertiary-shadow: #1b202833; // opacity:20%

//Semantic, component
$disable-color: $adm-gray-300;
$tag-bg: $adm-gray-200;
$border: $adm-gray-300;
$subtitle: $adm-gray-500;
$icon-default: $adm-gray-800;

.adm_bg {
  min-height: 100vh;
  background-image: radial-gradient(
      at 0% 0%,
      rgba(230, 230, 230, 1) 0px,
      transparent 110%
    ),
    radial-gradient(at 70% 80%, rgba(233, 215, 88, 0.8) 0px, transparent 90%);

  background-color: #ffff;
}

// adm__glassbg 毛玻璃背景
// .adm__glassbg {
//   background: linear-gradient(
//       135deg,
//       rgba(255, 255, 255, 0.8) 0%,
//       rgba(255, 255, 255, 0.6) 100%
//     ),
//     linear-gradient(
//       225deg,
//       rgba(77, 147, 43, 0.1) 0%,
//       rgba(77, 147, 43, 0.05) 100%
//     );

//   backdrop-filter: blur(16px) saturate(180%);
//   border: 1px solid rgba(255, 255, 255, 0.6);
//   box-shadow: 0 8px 32px rgba(27, 32, 40, 0.12),
//     0 2px 8px rgba(27, 32, 40, 0.08), inset 0 1px 0 rgba(255, 255, 255, 0.8),
//     inset 0 -1px 0 rgba(255, 255, 255, 0.2);
//   overflow: hidden;
//   transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
// }
.adm__glassbg {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.85) 0%,
      rgba(255, 255, 255, 0.7) 100%
    ),
    linear-gradient(
      225deg,
      rgba(147, 97, 43, 0.1) 0%,
      rgba(147, 97, 43, 0.05) 100%
    );

  backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px rgba(27, 32, 40, 0.12),
    0 2px 8px rgba(27, 32, 40, 0.08), inset 0 1px 0 rgba(255, 255, 255, 0.8),
    inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

// adm__Button 按鈕
.adm-theme {
  .adm__button__primary {
    background-color: $adm-primary;
    color: $adm-gray-white;
  }
  .adm__button__secondary {
    background-color: $adm-gray-black;
    color: $adm-gray-white;
    &:hover {
      box-shadow: 0 0 8px $btn-secondary-shadow;
      transform: scale(1.05);
      transition: all 0.1s ease;
    }
  }
  .adm__button__tertiary {
    border: 1px solid $adm-gray-500;
    color: $adm-gray-black;
    background-color: $adm-gray-white;
    &:hover {
      box-shadow: 0 0 8px $btn-tertiary-shadow;
      transform: scale(1.05);
      transition: all 0.1s ease;
    }
  }
  .lg {
    border-radius: 100px;
    padding: 16px 32px;
  }
  .md {
    border-radius: 100px;
    padding: 10px 20px;
  }
  .sm {
    border-radius: 100px;
    padding: 4px 16px;
  }
}

// adm__modal 彈跳視窗
.adm-theme {
  .adm__modal__comfirm {
    border-radius: 20px;
    padding: 48px 48px;
  }
  .adm__modal__info {
    border-radius: 20px;
    padding: 40px;
  }
  .adm__modal__body {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h1 {
      text-align: center;
      margin-bottom: 16px;
    }
    p {
      text-align: center;
      color: $subtitle;
    }
  }
}

// adm__input 輸入框
.adm-theme {
  .adm__input {
    border-color: $border;
    &::placeholder {
      color: $adm-gray-300;
    }
  }
  .adm__label__normal {
    color: $adm-gray-800;
  }
  .adm__label__floating {
    color: $adm-gray-300;
  }
}

// adm_icon
.adm-theme {
  .adm__modal__icon {
    color: $adm-gray-black;
    font-size: 60px;
    text-align: center;
    margin-bottom: 8px;
  }
  .adm__text__icon {
    color: $adm-gray-800;
  }
}
