// modal
.order-detail .modal {
	--bs-modal-bg: transparent; // 清除bs樣式
	--bs-modal-border-width: 0; // 清除bs樣式
}

// modal-content
.order-detail .modal-content {
	border-radius: 20px;
	overflow: hidden;
}

// modal-header
.order-detail .modal-header {
	padding: 28px 40px 20px 40px;
	border-bottom: 1px solid $adm-gray-300;
	.modal-close-button {
		position: absolute;
		top: 40px;
		right: 40px;
	}
}

// modal-body
.order-detail .modal-body {
	gap: 20px;
	ul {
		margin-bottom: 0;
		padding-left: 32px;
	}
	li {
		display: flex;
	}
	.subtitle {
		width: fit-content;
		font-weight: 500;
		padding: 4px 8px;
		margin-bottom: 20px;
		border-bottom: 1px solid $adm-gray-800;
	}
	.key {
		font-weight: 500;
		margin-right: 48px;
		color: $adm-gray-800;
	}
	.amount {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding: 20px 20px 20px 20px;
		background-color: $adm-gray-200;
		border-radius: 12px;
		// border-top: 1.5px solid $adm-gray-300;

		p {
			display: flex;
			justify-content: space-between;
		}
		span {
			display: inline-block;
		}
		.total-price {
			border-top: 1px solid $adm-gray-500;
			padding-top: 20px;
			font-weight: 600;
		}
	}
}

// modal-footer
.order-detail .modal-footer {
	display: flex;
	justify-content: space-between;
	padding: 28px;
	border-top: 1px solid $adm-gray-300;
	.total-price {
		padding: 20px;
		background-color: $adm-primary-light;
		border-radius: 12px;
		margin-bottom: 20px;
		font-weight: 500;
		font-size: 20px;
	}
}

// modal-accordion
.order-detail .accordion {
	--bs-accordion-border-width: none; // 清除bs樣式
	--bs-accordion-bg: ; // 清除bs樣式

	.accordion-item {
		border-radius: 12px;
		border: 1px solid $adm-gray-500;
		margin-bottom: 12px;
	}
	.accordion-button {
		padding: 20px;
		&::after {
			background-image: none; // 清除bs樣式
			width: auto; // 清除bs樣式
			height: auto; // 清除bs樣式
			margin-left: 0; // 清除bs樣式
		}
		.price {
			display: inline-block;
			width: 53px;
			text-align: end;
			color: $adm-primary;
		}
		&:focus,
		&:active {
			box-shadow: none;
		}
		&:not(.collapsed) {
			color: $adm-gray-black;
			background-color: $adm-primary-light;
			border-radius: 12px 12px 0px 0px;
		}
	}
	.accordion-body {
		p {
			font-size: 14px;
		}
	}
}
