
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}



.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9998; 
    animation: fadeIn 0.3s ease-out forwards;
}

.cookies-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 9999; 
    width: 280px;
    height: fit-content;
    background-color: rgb(255, 250, 250);
    border-radius: 10px;
    border: 1px solid rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-out forwards;
}

.cookie-heading {
    color: rgb(34, 34, 34);
    font-weight: 800;
}
.cookie-para {
    font-size: 11px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}
.button-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.cookie-button {
    width: 50%;
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.accept {
    background-color: rgb(34, 34, 34);
    color: white;
}
.reject {
    background-color: #ececec;
    color: rgb(34, 34, 34);
}
.accept:hover {
    background-color: rgb(0, 0, 0);
}
.reject:hover {
    background-color: #ddd;
}
.exit-button {
    position: absolute;
    top: 17px;
    right: 17px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.exit-button:hover {
    background-color: #ddd;
    color: white;
}
.svgIconCross {
    height: 10px;
}
