// 後台全域設定
.adm-theme {
  color: $adm-gray-black;
  font-weight: 400;
}

// 後台背景
.adm-theme.adm__bg-yellow {
  min-height: 100vh;
  background-image:
    radial-gradient(at 0% 0%, rgba(230, 230, 230, 1) 0px, transparent 110%),
    radial-gradient(at 70% 80%, rgba(233, 215, 88, 0.8) 0px, transparent 90%);

  background-color: #ffff;
}
.adm-theme.adm__bg-gray {
  min-height: 100vh;
  background-image:
    radial-gradient(at 0% 0%, rgba(230, 230, 230, 1) 0px, transparent 110%),
    radial-gradient(at 70% 80%, rgba(243, 242, 235, 0.8) 0px, transparent 90%);

  background-color: #f1f3f1;
}

// 後台毛玻璃背景

.adm__glassbg {
  background:
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.85) 0%,
      rgba(255, 255, 255, 0.7) 100%
    ),
    linear-gradient(
      225deg,
      rgba(147, 97, 43, 0.1) 0%,
      rgba(147, 97, 43, 0.05) 100%
    );

  backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow:
    0 8px 32px rgba(27, 32, 40, 0.12),
    0 2px 8px rgba(27, 32, 40, 0.08),
    inset 0 1px 0 rgba(255, 255, 255, 0.8),
    inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
} // 這個比較透明

.adm__glassbg__info {
  background:
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.93) 0%,
      rgba(255, 255, 255, 0.93) 100%
    ),
    linear-gradient(
      225deg,
      rgba(147, 97, 43, 0.1) 0%,
      rgba(147, 97, 43, 0.05) 100%
    );

  backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow:
    0 8px 32px rgba(27, 32, 40, 0.12),
    0 2px 8px rgba(27, 32, 40, 0.08),
    inset 0 1px 0 rgba(255, 255, 255, 0.8),
    inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
} // 這個比較白

// // adm__modal 彈跳視窗
.adm-theme {
  .adm__modal__comfirm {
    border-radius: 20px;
    padding: 48px 48px;
  }
  .adm__modal__info {
    border-radius: 20px;
  }
  .adm__modal__body {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h1 {
      text-align: center;
      margin-bottom: 16px;
    }
    p {
      text-align: center;
      color: $subtitle;
    }
  }
}

// adm__input 輸入框
.adm-theme {
  .adm__input {
    border-color: $adm-gray-300;
    background-color: $adm-gray-white;
    &::placeholder {
      color: $adm-gray-300;
    }
  }
  .adm__label__normal {
    color: $adm-gray-800;
  }
  .adm__label__floating {
    color: $adm-gray-300;
  }
}

// adm_icon
.adm-theme {
  .adm__modal__icon {
    color: $adm-gray-black;
    font-size: 60px;
    text-align: center;
    margin-bottom: 8px;
  }
  .adm__text__icon {
    color: $adm-gray-800;
  }
}
