@import "bootstrap/scss/functions";
@import "./style/variables";
@import "./style/variables-dark";
@import "./style/typography";
@import "bootstrap/scss/bootstrap.scss";

@import "./style/home";

body {
  font-family: $font-zh;
}
