@import 'bootstrap/scss/functions';

@import './style/front/base/variables';
@import './style/front/base/variables-dark';

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

@import './style/front/base/utilities';
@import 'bootstrap/scss/utilities/api';
@import 'bootstrap/scss/bootstrap.scss';

@import './style/front/base/typography';

// 前台
@import './style/front/layout/header';
@import './style/home';
@import './style/custom/custom';
@import './style/custom/pickTypeCard';
@import './style/custom/typeListBtn';
@import './style/custom/itemCard';
@import './style/cart';
@import './style/about';
@import './style/articleDetail';
@import './style/product';
@import './style/product2';
@import './style/articlePage';
@import './style/member';

// 前台 - components
@import './style/components/product-select';
@import './style/components/product-card';
@import './style/components/product-detail';
@import './style/components/confirmModal';

// 後台 - base
@import './style/admin/base/adm-variables';
@import './style/admin/base/adm-base';

// 後台 - components
@import './style/admin/components/button';
@import './style/admin/smallModal';

// 後台 - layout
@import './style/admin/layout/adm-header';

// 後台 - pages
@import './style/admin/adm-login';
@import './style/admin/adm-order';
@import './style/admin/adm-order-today';
@import './style/admin/adm-order-history';
@import './style/admin/adm-product';
@import './style/admin/adm-blog';
@import './style/admin/adm-report';

//swiper
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';